APP__NAME="Mine API"

PORT=9000

LOG_LEVEL=debug
AUTO_LOGGING=false
NO_COLOR=

APP__DOCS_DESCRIPTION="Mine Api description"
APP__DOCS_SERVER_URLS=Local|http://localhost:3000,Production|https://api.mine.com

MONGODB__DATABASE=
MONGODB__URI=

# https://www.akto.io/tools/api-key-generator
APP__API_KEY=

GG__FBASE__API_KEY=
GG__FBASE__AUTH_DOMAIN=
GG__FBASE__PROJECT_ID=
GG__FBASE__STORAGE_BUCKET=
GG__FBASE__MESSAGING_SENDER_ID=
GG__FBASE__APP_ID=
GG__FBASE__MEASUREMENT_ID=

GG__RE_CAPTCHA__SITE_KEY=
GG__RE_CAPTCHA__SECRET_KEY=

JWT__PRIVATE_KEY=
JWT__PUBLIC_KEY=

# crypto.randomBytes(32).toString('hex')
USER_GROUPS__ENCRYPTION_KEY=

KEYV__REDIS__HOST=
KEYV__REDIS__PORT=
KEYV__REDIS__USERNAME=
KEYV__REDIS__PASSWORD=
