
APP__NAME="Mine API"

APP__DOCS_DESCRIPTION="Mine Api description"
APP__DOCS_SERVER_URLS=Local|http://localhost:3000,Production|https://api.mine.com

MONGODB__DATABASE=
MONGODB__URI=

# https://www.akto.io/tools/api-key-generator
APP__API_KEY=

FBASE__API_KEY=
FBASE__AUTH_DOMAIN=
FBASE__PROJECT_ID=
FBASE__STORAGE_BUCKET=
FBASE__MESSAGING_SENDER_ID=
FBASE__APP_ID=
FBASE__MEASUREMENT_ID=
